
#count_display_wnd{
    max-height: 715px;
    overflow-y: scroll;
}


.faceCount{
    width: 100%;
    font-family: NanumSquareEB; 
    font-size: 11pt; 
}


.faceCount *{
    height: 40px;
    vertical-align: middle;
}

tr>td:nth-child(2){
    color: #b4a1d8; 
}


/* 섹션 좌측 */

.chart01{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.contentsTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chartTitle{
    justify-content: space-around;
}


.genderMaskChart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.alignL {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin:10px 0; 
}

.corlorGuide_male{
    margin: 5px;
}

.corlorGuide_female{
    margin: 5px;
    
}



/* 세션 우측 */