.title *{
    float: left;
}


#count_human_display_wnd{
    max-height: 715px;
    overflow-y: scroll;
}

.humanCount{
    width: 100%;
    font-family: NanumSquareEB; 
    font-size: 11pt; 
}


.humanCount *{
    height: 40px;
    vertical-align: middle;
}



tr>td:nth-child(2){
    color: #94e9ec; 
}





.clothesTable *{
    border: 1px solid #333333;
    vertical-align: middle;
    
}


.clothesTable tr:first-child *{
    background-color: #282828; 
}



th{
    width: 178.32px; 
    height: 50px;
}



.clothesTable img{
    margin-right: 5px;
    border: none;
}
.clothesTable div{
    border: none;
}







/* 우측섹션 */

.chart01{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}


.contentsTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chartTitle{
    justify-content: space-around;
}

.genderMaskChart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.alignL {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin:10px 0; 
}

.corlorGuide_male{
    margin: 5px;
}

.corlorGuide_female{
    margin: 5px;
    
}
