html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.image-thumbnail {   
    width: 100px;
    height: 100px;
    position: absolute;
    float: right;
    z-index: 1;
    margin-top : -300px;
    margin-left : 350px;
}

  /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid rgba(30,30,30,1);
  background-color: rgba(30,30,30,1);  
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color : white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgba(128,128,128,1); 
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgba(128,128,128,1); 
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgba(30,30,30,1);
  padding: 10px;
  grid-gap: 0px;   
  
}

.grid-item {
  background-color: rgba(30,30,30,1);
  border: 1px solid rgba(45,45,45,1);
  padding: 22px;
  font-family: NanumSquareEB;
  font-size: 12pt;  
  text-align: center;
  height: 50px; 
  padding-top: 14px;
}

.grid-item_header {
  background-color: rgba(51,51,51,1);
  border: 1px solid rgba(45,45,45,1);
  padding: 20px;
  font-family: NanumSquareEB;
  font-size: 12pt;  
  text-align: center;
  height: 60px;
}


.grid-camera-container {
  display: grid;
  grid-template-columns: auto  90px 80px 100px 80px 100px;
  background-color: rgba(30,30,30,1);
  padding: 0px;
  grid-gap: 0px;   
  text-align: center; 
}

.grid-camera-item {
  background-color: rgba(30,30,30,1);
  border: 1px solid rgba(45,45,45,1);
  padding: 22px;
  font-family: NanumSquareEB;
  font-size: 10pt;  
  text-align: center;
  height: 41px; 
  padding-top: 14px;
}

.grid-item-camera-header {
  background-color: rgba(51,51,51,1);
  border: 1px solid rgba(45,45,45,1);
  padding: 12px;
  font-family: NanumSquareEB;
  font-size: 10pt;  
  text-align: center;  
  height: 43px;
}

.grid-camera-item-day {
  background-color: rgba(30,30,30,1);
  border: 1px solid rgba(45,45,45,1);
  color:aqua;
  padding: 22px;
  font-family: NanumSquareEB;
  font-size: 9pt;  
  text-align: center;
  height: 41px; 
  padding-top: 14px;
}

.grid-camera-item-other {
  background-color: rgba(30,30,30,1);
  border: 1px solid rgba(45,45,45,1);
  padding: 22px;
  font-family: NanumSquareEB;
  font-size: 9pt;  
  text-align: center;
  height: 41px; 
  padding-top: 14px;
}

.select_black {
  color:            #ffffff;
  background-color: rgb(26,26,26,1);
  border-width:     1px;
  border-color:     rgb(51,51,51,1);
  height: 30px;
  width: 160px;
}

#ctrl_pie_wnd{
  z-index: -1;
}

#event_pie_wnd{
  z-index: 99999;
}

/* grid default와 궤를 달리한다. */
.tui-grid-body-area {background-color: rgba(30,30,30,1) !important;}


#man_top_color_rate{padding-left: 0px; padding-right: 0px};
#woman_top_color_rate{padding-left: 0px; padding-right: 0px};
#man_down_color_rate{padding-left: 0px; padding-right: 0px};
#woman_down_color_rate{padding-left: 0px; padding-right: 0px};