<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cameraPageMapper">


<resultMap type="fo.di.cs.main.model.dto.DC_summary" id="DC_summary_rm">
		 <result property="face_youngMale" column="FACE_YOUNGMALE" />
      	<result property="face_youngFemale" column="FACE_YOUNGFEMALE" />
      	<result property="face_adultMale" column="FACE_ADULTMALE" />
      	<result property="face_adultFemale" column="FACE_ADULTFEMALE" />
      	<result property="face_middleMale" column="FACE_MIDDLEMALE" />
      	<result property="face_middleFemale" column="FACE_MIDDLEFEMALE" />
      	<result property="face_seniorMale" column="FACE_SENIORMALE" />
      	<result property="face_seniorFemale" column="FACE_SENIORFEMALE" />
      	<result property="occuDate" column="FACE_SENIORFEMALE" />
      	<result property="personMale" column="PERSON_MALE" />
      	<result property="personFemale" column="PERSON_FEMALE" />
</resultMap> 


<resultMap type="fo.di.cs.main.model.dto.DailyCount" id="DailyCount_rm">
		 <result property="time" column="time" />
		 <result property="person" column="PERSON" />
      	<result property="vehicle" column="VEHICLE" />
      	<result property="face" column="FACE" />
      	<result property="lpr" column="LPR" />
      	<result property="invCnt" column="INV_CNT" />
      	<result property="lotCnt" column="LOT_CNT" />
      	<result property="cntCnt" column="CNT_CNT" />
      	<result property="fatCnt" column="FAL_CNT" />
      	<result property="occuTime" column="OCCU_TIME" />
      	<result property="cameraName" column="CAMERA_NAME" />
      	<result property="personCount" column="personCount" />
      	<result property="vehicleCount" column="vehicleCount" />
      	<result property="faceCount" column="faceCount" />
      	<result property="lprCount" column="lprCount" />
      	<result property="invCntCount" column="invCntCount" />
      	<result property="lotCntCount" column="lotCntCount" />
      	<result property="cntCntCount" column="cntCntCount" />
      	<result property="falCntCount" column="falCntCount" />
      	<result property="personCount_DIFF" column="personCount_DIFF" />
      	<result property="vehicleCount_DIFF" column="vehicleCount_DIFF" />
      	<result property="faceCount_DIFF" column="faceCount_DIFF" />
      	<result property="lprCount_DIFF" column="lprCount_DIFF" />
      	<result property="invCntCount_DIFF" column="invCntCount_DIFF" />
      	<result property="lotCntCount_DIFF" column="lotCntCount_DIFF" />
      	<result property="cntCntCount_DIFF" column="cntCntCount_DIFF" />
      	<result property="falCntCount_DIFF" column="falCntCount_DIFF" />
</resultMap> 

<resultMap type="fo.di.cs.main.model.dto.DailyCount_summary" id="DailyCount_summary_rm">
		 <result property="faceNoMaskMaleYoung" column="FACE_NOMASKMALEYOUNG" />
      	<result property="faceNoMaskMaleAdlut" column="FACE_NOMASKMALEADULT" />
      	<result property="faceNoMaskMaleMiddle" column="FACE_NOMASKMALEMIDDLE" />
      	<result property="faceNoMaskMaleSenior" column="FACE_NOMASKMALESENIOR" />
      	<result property="faceNoMaskFemaleYoung" column="FACE_NOMASKFEMALEYOUNG" />
      	<result property="faceNoMaskFemaleAdult" column="FACE_NOMASKFEMALEADULT" />
      	<result property="faceNoMaskFemaleMiddle" column="FACE_NOMASKFEMALEMIDDLE" />
      	<result property="faceNoMaskFemaleSenior" column="FACE_NOMASKFEMALESENIOR" />
      	<result property="occuDate" column="OCCU_DATE" />
      	<result property="person" column="PERSON" />
      	<result property="vehicle" column="VEHICLE" />
      	<result property="face" column="FACE" />
      	<result property="lpr" column="LPR" />
      	<result property="invCnt" column="INV_CNT" />
      	<result property="lotCnt" column="LOT_CNT" />
      	<result property="cntCnt" column="CNT_CNT" />
      	<result property="falCnt" column="FAL_CNT" />
 	    <result property="car" column="VEHICLE_CAR" />
      	<result property="bus" column="VEHICLE_BUS" />
      	<result property="truck" column="VEHICLE_TRUCK" />
      	<result property="motocycle" column="VEHICLE_MOTORCYCLE" />
      	<result property="bicycle" column="VEHICLE_BICYCLE" />
      	<result property="hatMale" column="PERSON_HATMALE" />
      	<result property="bagMale" column="PERSON_BAGMALE" />
      	<result property="hatFemale" column="PERSON_HATFEMALE" />
      	<result property="bagFemale" column="PERSON_BAGFEMALE" />
</resultMap> 
	
<resultMap id="_int" type="java.lang.Integer" />
<resultMap id="_decimal" type="java.lang.Double" />
	
		
	<!-- 메인카메라페이지 금일 누적 합계(공통)-->
	<select id="selectMainCameraTodayList" resultMap="DailyCount_rm">
		SELECT PERSON, VEHICLE, FACE, LPR, INV_CNT, LOT_CNT, CNT_CNT, FAL_CNT  
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	<!-- 메인카메라페이지 전일대비(공통)-->
	<select id="selectNetChangeList" resultMap="DailyCount_summary_rm">
		WITH Today AS (
		    SELECT
			PERSON, VEHICLE, FACE, LPR, INV_CNT, LOT_CNT, CNT_CNT, FAL_CNT  
				FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
				WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
		),
		Yesterday AS (
		    SELECT
		        PERSON, VEHICLE, FACE, LPR, INV_CNT, LOT_CNT, CNT_CNT, FAL_CNT  
				FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
				WHERE OCCU_DATE = CONVERT(varchar, DATEADD(day, -1, GETDATE()), 112)
		)
		SELECT
		    t.PERSON - y.PERSON AS personCount_DIFF,
		    t.VEHICLE - y.VEHICLE AS vehicleCount_DIFF,
		    t.FACE - y.FACE AS faceCount_DIFF,
		    t.LPR - y.LPR AS lprCount_DIFF,
		    t.INV_CNT - y.INV_CNT AS invCntCount_DIFF,
		    t.LOT_CNT - y.LOT_CNT AS lotCntCount_DIFF,
		    t.CNT_CNT - y.CNT_CNT AS cntCntCount_DIFF,
		    t.FAL_CNT - y.FAL_CNT AS falCntCount_DIFF
		FROM Today t
		JOIN Yesterday y ON 1 = 1
	</select>
	
	<!-- 마스크를 착용한 남자의 비율 계산(금일)-->
	<select id="maskManCount" resultMap="_int">
		SELECT
		    COALESCE(
		        CASE
		            WHEN COUNT(*) > 0 THEN
		                (SUM(CASE WHEN FACE_MALE > 0 THEN FACE_MASKMALE ELSE 0 END) * 100.0 / SUM(FACE_MALE))
		            ELSE
		                0
		        END,
		        0
		    ) AS mask_wearing_male_ratio
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	<!-- 마스크를 착용한 여자의 비율 계산(금일)-->
	<select id="maskWomanCount" resultMap="_int">
		SELECT
		    COALESCE(
		        CASE
		            WHEN COUNT(*) > 0 THEN
		                (SUM(CASE WHEN FACE_FEMALE > 0 THEN FACE_MASKFEMALE ELSE 0 END) * 100.0 / SUM(FACE_FEMALE))
		            ELSE
		                0
		        END,
		        0
		    ) AS mask_wearing_female_ratio
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>

	<!-- 휴먼페이지 성별 도넛 차트-->
	<select id="genderTotalList" resultMap="DC_summary_rm">
		SELECT
		    PERSON_FEMALE, PERSON_MALE
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	
	
	
	<!-- 휴먼페이지 성별 악세사리 막대&라인 혼합 차트-->
	<select id="genderAccList" resultMap="DailyCount_summary_rm">
		SELECT
			PERSON_HATMALE 
			, PERSON_BAGMALE 
			, PERSON_HATFEMALE 
			, PERSON_BAGFEMALE 
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	
	<!-- 사람 -->
	<select id="dailyPersonCount" resultMap="DailyCount_rm">
		SELECT
			CNT.CAMERA_NAME   
			, SUM(CNT.PERSON)   AS personCount   
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT CNT
		WHERE SUBSTRING(CNT.OCCU_TIME, 1, 8) = CONVERT(varchar, GETDATE(), 112)
		GROUP BY CNT.CAMERA_NAME
		ORDER BY SUM(CNT.TOT_CNT)
	</select>
	
	<!-- 차량 -->
	<select id="dailyVehicleCount" resultMap="DailyCount_rm">
		SELECT
			CNT.CAMERA_NAME   
			, SUM(CNT.VEHICLE)  AS vehicleCount     
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT CNT
		WHERE SUBSTRING(CNT.OCCU_TIME, 1, 8) = CONVERT(varchar, GETDATE(), 112)
		GROUP BY CNT.CAMERA_NAME
		ORDER BY SUM(CNT.TOT_CNT)
	</select>
	
	<!-- 얼굴 -->
	<select id="dailyFaceCount" resultMap="DailyCount_rm">
		SELECT
			CNT.CAMERA_NAME   
			, SUM(CNT.FACE)   AS faceCount          
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT CNT
		WHERE SUBSTRING(CNT.OCCU_TIME, 1, 8) = CONVERT(varchar, GETDATE(), 112)
		GROUP BY CNT.CAMERA_NAME
		ORDER BY SUM(CNT.TOT_CNT)
	</select>
	
	<!-- 차량번호판 -->
	<select id="dailyLprCount" resultMap="DailyCount_rm">
		SELECT
			CNT.CAMERA_NAME   
			, SUM(CNT.LPR)    AS lprCount             
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT CNT
		WHERE SUBSTRING(CNT.OCCU_TIME, 1, 8) = CONVERT(varchar, GETDATE(), 112)
		GROUP BY CNT.CAMERA_NAME
		ORDER BY SUM(CNT.TOT_CNT)
	</select>
	
	<!-- 침입 -->
	<select id="dailyInvCntCount" resultMap="DailyCount_rm">
		SELECT
			CNT.CAMERA_NAME   
			, SUM(CNT.INV_CNT)  AS invCntCount    
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT CNT
		WHERE SUBSTRING(CNT.OCCU_TIME, 1, 8) = CONVERT(varchar, GETDATE(), 112)
		GROUP BY CNT.CAMERA_NAME
		ORDER BY SUM(CNT.TOT_CNT)
	</select>
	
	<!-- 배회 -->
	<select id="dailyLotCntCount" resultMap="DailyCount_rm">
		SELECT
			CNT.CAMERA_NAME   
			, SUM(CNT.LOT_CNT)  AS lotCntCount    
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT CNT
		WHERE SUBSTRING(CNT.OCCU_TIME, 1, 8) = CONVERT(varchar, GETDATE(), 112)
		GROUP BY CNT.CAMERA_NAME
		ORDER BY SUM(CNT.TOT_CNT)
	</select>
	
	<!-- 카운팅 -->
	<select id="dailyCntCntCount" resultMap="DailyCount_rm">
		SELECT
			CNT.CAMERA_NAME   
			, SUM(CNT.CNT_CNT)  AS cntCntCount  
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT CNT
		WHERE SUBSTRING(CNT.OCCU_TIME, 1, 8) = CONVERT(varchar, GETDATE(), 112)
		GROUP BY CNT.CAMERA_NAME
		ORDER BY SUM(CNT.TOT_CNT)
	</select>
	

	
	
	<!-- 긴 상의 남성 비율 -->
	<select id="longTopWearMan" resultMap="_int">
		SELECT
		    CASE
		        WHEN SUM(PERSON_TOPWEARLONGMALE + PERSON_TOPWEARSHORTMALE) > 0 THEN
		            (SUM(CASE WHEN PERSON_TOPWEARLONGMALE > 0 
		                THEN PERSON_TOPWEARLONGMALE ELSE 0 END) * 100.0 /
		                SUM(PERSON_TOPWEARLONGMALE + PERSON_TOPWEARSHORTMALE))
		        ELSE
		            0
		    END AS LONGTOPWEARMAN
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	
		<!-- 짧은 상의 남성 비율 -->
	<select id="shortTopWearMan" resultMap="_int">
		SELECT
		    CASE
		        WHEN SUM(PERSON_TOPWEARLONGMALE + PERSON_TOPWEARSHORTMALE) > 0 THEN
		            (SUM(CASE WHEN PERSON_TOPWEARSHORTMALE > 0 
		                THEN PERSON_TOPWEARSHORTMALE ELSE 0 END) * 100.0 /
		                SUM(PERSON_TOPWEARLONGMALE + PERSON_TOPWEARSHORTMALE))
		        ELSE
		            0
		    END AS SHORTTOPWEARMAN
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	
		<!-- 긴 하의 남성 비율 -->
	<select id="longBottomWearMan" resultMap="_int">
		SELECT
		    CASE
		        WHEN SUM(PERSON_BOTTOMWEARLONGMALE + PERSON_BOTTOMWEARSHORTMALE) > 0 THEN
		            (SUM(CASE WHEN PERSON_BOTTOMWEARLONGMALE > 0 
		                THEN PERSON_BOTTOMWEARLONGMALE ELSE 0 END) * 100.0 /
		                SUM(PERSON_BOTTOMWEARLONGMALE + PERSON_BOTTOMWEARSHORTMALE))
		        ELSE
		            0
		    END AS LONGBOTTOMWEARMAN
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	
		<!-- 짧은 하의 남성 비율 -->
	<select id="shortBottomWearMan" resultMap="_int">
		SELECT
		    CASE
		        WHEN SUM(PERSON_BOTTOMWEARLONGMALE + PERSON_BOTTOMWEARSHORTMALE) > 0 THEN
		            (SUM(CASE WHEN PERSON_BOTTOMWEARSHORTMALE > 0 
		                THEN PERSON_BOTTOMWEARSHORTMALE ELSE 0 END) * 100.0 /
		                SUM(PERSON_BOTTOMWEARLONGMALE + PERSON_BOTTOMWEARSHORTMALE))
		        ELSE
		            0
		    END AS SHORTBOTTOMWEARMAN
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	
		<!-- 긴 상의 여성 비율 -->
	<select id="longTopWearWoman" resultMap="_int">
		SELECT
		    CASE
		        WHEN SUM(PERSON_TOPWEARLONGFEMALE + PERSON_TOPWEARSHORTFEMALE) > 0 THEN
		            (SUM(CASE WHEN PERSON_TOPWEARLONGFEMALE > 0 
		                THEN PERSON_TOPWEARLONGFEMALE ELSE 0 END) * 100.0 /
		                SUM(PERSON_TOPWEARLONGFEMALE + PERSON_TOPWEARSHORTFEMALE))
		        ELSE
		            0
		    END AS LONGTOPWEARMAN
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	
		<!-- 짧은 상의 여성 비율 -->
	<select id="shortTopWearWoman" resultMap="_int">
		SELECT
		    CASE
		        WHEN SUM(PERSON_TOPWEARLONGFEMALE + PERSON_TOPWEARSHORTFEMALE) > 0 THEN
		            (SUM(CASE WHEN PERSON_TOPWEARSHORTFEMALE > 0 
		                THEN PERSON_TOPWEARSHORTFEMALE ELSE 0 END) * 100.0 /
		                SUM(PERSON_TOPWEARLONGFEMALE + PERSON_TOPWEARSHORTFEMALE))
		        ELSE
		            0
		    END AS SHORTTOPWEARFEMAN
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	
	<!-- 긴 하의 여성 비율 -->
	<select id="longBottomWearWoman" resultMap="_int">
		SELECT
		    CASE
		        WHEN SUM(PERSON_BOTTOMWEARLONGFEMALE + PERSON_BOTTOMWEARSHORTFEMALE) > 0 THEN
		            (SUM(CASE WHEN PERSON_BOTTOMWEARLONGFEMALE > 0 
		                THEN PERSON_BOTTOMWEARLONGFEMALE ELSE 0 END) * 100.0 /
		                SUM(PERSON_BOTTOMWEARLONGFEMALE + PERSON_BOTTOMWEARSHORTFEMALE))
		        ELSE
		            0
		    END AS LONGBOTTOMWEARFEMAN
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	
	<!-- 짧은 하의 여성 비율 -->
	<select id="shortBottomWearWoman" resultMap="_int">
		SELECT
		    CASE
		        WHEN SUM(PERSON_BOTTOMWEARLONGFEMALE + PERSON_BOTTOMWEARSHORTFEMALE) > 0 THEN
		            (SUM(CASE WHEN PERSON_BOTTOMWEARSHORTFEMALE > 0 
		                THEN PERSON_BOTTOMWEARSHORTFEMALE ELSE 0 END) * 100.0 /
		                SUM(PERSON_BOTTOMWEARLONGFEMALE + PERSON_BOTTOMWEARSHORTFEMALE))
		        ELSE
		            0
		    END AS SHORTBOTTOMWEARFEMAN
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	<!-- 무채색 상의를 입은 남성 -->
	<select id="monoTopWearMan" resultMap="_decimal">
		SELECT
		    CASE
		        WHEN SUM(PERSON_TOPWEARBLACKMALE + PERSON_TOPWEARGRAYMALE + PERSON_TOPWEARWHITEMALE 
		            + PERSON_TOPWEARREDMALE + PERSON_TOPWEARORANGEMALE + PERSON_TOPWEARYELLOWMALE
		            + PERSON_TOPWEARGREENMALE + PERSON_TOPWEARBLUEMALE + PERSON_TOPWEARPURPLEMALE) > 0 THEN
		            (SUM(CASE WHEN PERSON_TOPWEARBLACKMALE + PERSON_TOPWEARGRAYMALE + PERSON_TOPWEARWHITEMALE > 0 
		                THEN PERSON_TOPWEARBLACKMALE + PERSON_TOPWEARGRAYMALE + PERSON_TOPWEARWHITEMALE ELSE 0 END) * 100.0 /
		                SUM(PERSON_TOPWEARBLACKMALE + PERSON_TOPWEARGRAYMALE + PERSON_TOPWEARWHITEMALE 
		                    + PERSON_TOPWEARREDMALE + PERSON_TOPWEARORANGEMALE + PERSON_TOPWEARYELLOWMALE
		                    + PERSON_TOPWEARGREENMALE + PERSON_TOPWEARBLUEMALE + PERSON_TOPWEARPURPLEMALE))
		        ELSE
		            0
		    END AS MONOCHROMATIC_PERCENTAGE_TOPWEARMAN
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	<!-- 난색 상의를 입은 남성 -->
	<select id="polyTopWearMan" resultMap="_decimal">
		SELECT
		    CASE
		        WHEN SUM(PERSON_TOPWEARBLACKMALE + PERSON_TOPWEARGRAYMALE + PERSON_TOPWEARWHITEMALE 
		            + PERSON_TOPWEARREDMALE + PERSON_TOPWEARORANGEMALE + PERSON_TOPWEARYELLOWMALE
		            + PERSON_TOPWEARGREENMALE + PERSON_TOPWEARBLUEMALE + PERSON_TOPWEARPURPLEMALE) > 0 THEN
		            (SUM(CASE WHEN PERSON_TOPWEARREDMALE + PERSON_TOPWEARORANGEMALE + PERSON_TOPWEARYELLOWMALE > 0 
		                THEN PERSON_TOPWEARREDMALE + PERSON_TOPWEARORANGEMALE + PERSON_TOPWEARYELLOWMALE ELSE 0 END) * 100.0 /
		                SUM(PERSON_TOPWEARBLACKMALE + PERSON_TOPWEARGRAYMALE + PERSON_TOPWEARWHITEMALE 
		                    + PERSON_TOPWEARREDMALE + PERSON_TOPWEARORANGEMALE + PERSON_TOPWEARYELLOWMALE
		                    + PERSON_TOPWEARGREENMALE + PERSON_TOPWEARBLUEMALE + PERSON_TOPWEARPURPLEMALE))
		        ELSE
		            0
		    END AS POLYCHROMATIC_PERCENTAGE_TOPWEARMAN
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	<!-- 한색 상의를 입은 남성 -->
	<select id="huesTopWearMan" resultMap="_decimal">
		SELECT
		    CASE
		        WHEN SUM(PERSON_TOPWEARBLACKMALE + PERSON_TOPWEARGRAYMALE + PERSON_TOPWEARWHITEMALE 
		            + PERSON_TOPWEARREDMALE + PERSON_TOPWEARORANGEMALE + PERSON_TOPWEARYELLOWMALE
		            + PERSON_TOPWEARGREENMALE + PERSON_TOPWEARBLUEMALE + PERSON_TOPWEARPURPLEMALE) > 0 THEN
		            (SUM(CASE WHEN PERSON_TOPWEARGREENMALE+PERSON_TOPWEARBLUEMALE+PERSON_TOPWEARPURPLEMALE > 0 
		                THEN PERSON_TOPWEARGREENMALE+PERSON_TOPWEARBLUEMALE+PERSON_TOPWEARPURPLEMALE ELSE 0 END) * 100.0 /
		                SUM(PERSON_TOPWEARBLACKMALE + PERSON_TOPWEARGRAYMALE + PERSON_TOPWEARWHITEMALE 
		                    + PERSON_TOPWEARREDMALE + PERSON_TOPWEARORANGEMALE + PERSON_TOPWEARYELLOWMALE
		                    + PERSON_TOPWEARGREENMALE + PERSON_TOPWEARBLUEMALE + PERSON_TOPWEARPURPLEMALE))
		        ELSE
		            0
		    END AS HUES_PERCENTAGE_TOPWEARMAN
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	<!-- 무채색 하의 남성 -->
	<select id="monoBottomWearMan" resultMap="_decimal">
		SELECT
		    CASE
		        WHEN SUM(PERSON_TOPWEARBLACKFEMALE + PERSON_TOPWEARGRAYFEMALE + PERSON_TOPWEARWHITEFEMALE 
		            + PERSON_TOPWEARREDFEMALE + PERSON_TOPWEARORANGEFEMALE + PERSON_TOPWEARYELLOWFEMALE
		            + PERSON_TOPWEARGREENFEMALE + PERSON_TOPWEARBLUEFEMALE + PERSON_TOPWEARPURPLEFEMALE) > 0 THEN
		            (SUM(CASE WHEN PERSON_TOPWEARBLACKFEMALE + PERSON_TOPWEARGRAYFEMALE + PERSON_TOPWEARWHITEFEMALE > 0 
		                THEN PERSON_TOPWEARBLACKFEMALE + PERSON_TOPWEARGRAYFEMALE + PERSON_TOPWEARWHITEFEMALE ELSE 0 END) * 100.0 /
		                SUM(PERSON_TOPWEARBLACKFEMALE + PERSON_TOPWEARGRAYFEMALE + PERSON_TOPWEARWHITEFEMALE 
		                    + PERSON_TOPWEARREDFEMALE + PERSON_TOPWEARORANGEFEMALE + PERSON_TOPWEARYELLOWFEMALE
		                    + PERSON_TOPWEARGREENFEMALE + PERSON_TOPWEARBLUEFEMALE + PERSON_TOPWEARPURPLEFEMALE))
		        ELSE
		            0
		    END AS MONOCHROMATIC_PERCENTAGE_TOPWEARWOMAN
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	<!-- 난색 하의 남성 -->
	<select id="polyBottomWearMan" resultMap="_decimal">
		SELECT
		    CASE
		        WHEN SUM(PERSON_TOPWEARBLACKFEMALE + PERSON_TOPWEARGRAYFEMALE + PERSON_TOPWEARWHITEFEMALE 
		            + PERSON_TOPWEARREDFEMALE + PERSON_TOPWEARORANGEFEMALE + PERSON_TOPWEARYELLOWFEMALE
		            + PERSON_TOPWEARGREENFEMALE + PERSON_TOPWEARBLUEFEMALE + PERSON_TOPWEARPURPLEFEMALE) > 0 THEN
		            (SUM(CASE WHEN PERSON_TOPWEARREDFEMALE + PERSON_TOPWEARORANGEFEMALE + PERSON_TOPWEARYELLOWFEMALE > 0 
		                THEN PERSON_TOPWEARREDFEMALE + PERSON_TOPWEARORANGEFEMALE + PERSON_TOPWEARYELLOWFEMALE ELSE 0 END) * 100.0 /
		                SUM(PERSON_TOPWEARBLACKFEMALE + PERSON_TOPWEARGRAYFEMALE + PERSON_TOPWEARWHITEFEMALE 
		                    + PERSON_TOPWEARREDFEMALE + PERSON_TOPWEARORANGEFEMALE + PERSON_TOPWEARYELLOWFEMALE
		                    + PERSON_TOPWEARGREENFEMALE + PERSON_TOPWEARBLUEFEMALE + PERSON_TOPWEARPURPLEFEMALE))
		        ELSE
		            0
		    END AS POLYCHROMATIC_PERCENTAGE_TOPWEARWOMAN
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	<!-- 한색 하의 남성 -->
	<select id="huesBottomWearMan" resultMap="_decimal">
		SELECT
		    CASE
		        WHEN SUM(PERSON_TOPWEARBLACKFEMALE + PERSON_TOPWEARGRAYFEMALE + PERSON_TOPWEARWHITEFEMALE 
		            + PERSON_TOPWEARREDFEMALE + PERSON_TOPWEARORANGEFEMALE + PERSON_TOPWEARYELLOWFEMALE
		            + PERSON_TOPWEARGREENFEMALE + PERSON_TOPWEARBLUEFEMALE + PERSON_TOPWEARPURPLEFEMALE) > 0 THEN
		            (SUM(CASE WHEN PERSON_TOPWEARGREENFEMALE+PERSON_TOPWEARBLUEFEMALE+PERSON_TOPWEARPURPLEFEMALE > 0 
		                THEN PERSON_TOPWEARGREENFEMALE+PERSON_TOPWEARBLUEFEMALE+PERSON_TOPWEARPURPLEFEMALE ELSE 0 END) * 100.0 /
		                SUM(PERSON_TOPWEARBLACKFEMALE + PERSON_TOPWEARGRAYFEMALE + PERSON_TOPWEARWHITEFEMALE 
		                    + PERSON_TOPWEARREDFEMALE + PERSON_TOPWEARORANGEFEMALE + PERSON_TOPWEARYELLOWFEMALE
		                    + PERSON_TOPWEARGREENFEMALE + PERSON_TOPWEARBLUEFEMALE + PERSON_TOPWEARPURPLEFEMALE))
		        ELSE
		            0
		    END AS HUES_PERCENTAGE_TOPWEARWOMAN
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	<!--  무채색 상의 여성 -->
	<select id="monoTopWearWoman" resultMap="_decimal">
		SELECT
		    CASE
		        WHEN SUM(PERSON_BOTTOMWEARBLACKMALE + PERSON_BOTTOMWEARGRAYMALE + PERSON_BOTTOMWEARWHITEMALE 
		            + PERSON_BOTTOMWEARREDMALE + PERSON_BOTTOMWEARORANGEMALE + PERSON_BOTTOMWEARYELLOWMALE
		            + PERSON_BOTTOMWEARGREENMALE + PERSON_BOTTOMWEARBLUEMALE + PERSON_BOTTOMWEARPURPLEMALE) > 0 THEN
		            (SUM(CASE WHEN PERSON_BOTTOMWEARBLACKMALE + PERSON_BOTTOMWEARGRAYMALE + PERSON_BOTTOMWEARWHITEMALE > 0 
		                THEN PERSON_BOTTOMWEARBLACKMALE + PERSON_BOTTOMWEARGRAYMALE + PERSON_BOTTOMWEARWHITEMALE ELSE 0 END) * 100.0 /
		                SUM(PERSON_BOTTOMWEARBLACKMALE + PERSON_BOTTOMWEARGRAYMALE + PERSON_BOTTOMWEARWHITEMALE 
		                    + PERSON_BOTTOMWEARREDMALE + PERSON_BOTTOMWEARORANGEMALE + PERSON_BOTTOMWEARYELLOWMALE
		                    + PERSON_BOTTOMWEARGREENMALE + PERSON_BOTTOMWEARBLUEMALE + PERSON_BOTTOMWEARPURPLEMALE))
		        ELSE
		            0
		    END AS MONOCHROMATIC_PERCENTAGE_BOTTOMWEARMAN
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	<!-- 난색 상의 여성 -->
	<select id="polyTopWearWoman" resultMap="_decimal">
		SELECT
		    CASE
		        WHEN SUM(PERSON_BOTTOMWEARBLACKMALE + PERSON_BOTTOMWEARGRAYMALE + PERSON_BOTTOMWEARWHITEMALE 
		            + PERSON_BOTTOMWEARREDMALE + PERSON_BOTTOMWEARORANGEMALE + PERSON_BOTTOMWEARYELLOWMALE
		            + PERSON_BOTTOMWEARGREENMALE + PERSON_BOTTOMWEARBLUEMALE + PERSON_BOTTOMWEARPURPLEMALE) > 0 THEN
		            (SUM(CASE WHEN PERSON_BOTTOMWEARREDMALE + PERSON_BOTTOMWEARORANGEMALE + PERSON_BOTTOMWEARYELLOWMALE > 0 
		                THEN PERSON_BOTTOMWEARREDMALE + PERSON_BOTTOMWEARORANGEMALE + PERSON_BOTTOMWEARYELLOWMALE ELSE 0 END) * 100.0 /
		                SUM(PERSON_BOTTOMWEARBLACKMALE + PERSON_BOTTOMWEARGRAYMALE + PERSON_TOPWEARWHITEMALE 
		                    + PERSON_BOTTOMWEARREDMALE + PERSON_BOTTOMWEARORANGEMALE + PERSON_TOPWEARYELLOWMALE
		                    + PERSON_BOTTOMWEARGREENMALE + PERSON_BOTTOMWEARBLUEMALE + PERSON_TOPWEARPURPLEMALE))
		        ELSE
		            0
		    END AS POLYCHROMATIC_PERCENTAGE_BOTTOMWEARMAN
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	<!-- 한색 상의 여성 -->
	<select id="huesTopWearWoman" resultMap="_decimal">
		SELECT
		    CASE
		        WHEN SUM(PERSON_BOTTOMWEARBLACKMALE + PERSON_BOTTOMWEARGRAYMALE + PERSON_BOTTOMWEARWHITEMALE 
		            + PERSON_BOTTOMWEARREDMALE + PERSON_BOTTOMWEARORANGEMALE + PERSON_BOTTOMWEARYELLOWMALE
		            + PERSON_BOTTOMWEARGREENMALE + PERSON_BOTTOMWEARBLUEMALE + PERSON_BOTTOMWEARPURPLEMALE) > 0 THEN
		            (SUM(CASE WHEN PERSON_BOTTOMWEARGREENMALE+PERSON_BOTTOMWEARBLUEMALE+PERSON_BOTTOMWEARPURPLEMALE > 0 
		                THEN PERSON_BOTTOMWEARGREENMALE+PERSON_BOTTOMWEARBLUEMALE+PERSON_BOTTOMWEARPURPLEMALE ELSE 0 END) * 100.0 /
		                SUM(PERSON_BOTTOMWEARBLACKMALE + PERSON_BOTTOMWEARGRAYMALE + PERSON_BOTTOMWEARWHITEMALE 
		                    + PERSON_BOTTOMWEARREDMALE + PERSON_BOTTOMWEARORANGEMALE + PERSON_BOTTOMWEARYELLOWMALE
		                    + PERSON_BOTTOMWEARGREENMALE + PERSON_BOTTOMWEARBLUEMALE + PERSON_BOTTOMWEARPURPLEMALE))
		        ELSE
		            0
		    END AS HUES_PERCENTAGE_BOTTOMWEARMAN
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	<!-- 무채색 하의 여성 -->
	<select id="monoBottomWearWoman" resultMap="_decimal">
		SELECT
		    CASE
		        WHEN SUM(PERSON_BOTTOMWEARBLACKFEMALE + PERSON_BOTTOMWEARGRAYFEMALE + PERSON_BOTTOMWEARWHITEFEMALE 
		            + PERSON_BOTTOMWEARREDFEMALE + PERSON_BOTTOMWEARORANGEFEMALE + PERSON_BOTTOMWEARYELLOWFEMALE
		            + PERSON_BOTTOMWEARGREENFEMALE + PERSON_BOTTOMWEARBLUEFEMALE + PERSON_BOTTOMWEARPURPLEFEMALE) > 0 THEN
		            (SUM(CASE WHEN PERSON_BOTTOMWEARBLACKFEMALE + PERSON_BOTTOMWEARGRAYFEMALE + PERSON_BOTTOMWEARWHITEFEMALE > 0 
		                THEN PERSON_BOTTOMWEARBLACKFEMALE + PERSON_BOTTOMWEARGRAYFEMALE + PERSON_BOTTOMWEARWHITEFEMALE ELSE 0 END) * 100.0 /
		                SUM(PERSON_BOTTOMWEARBLACKFEMALE + PERSON_BOTTOMWEARGRAYFEMALE + PERSON_BOTTOMWEARWHITEFEMALE 
		                    + PERSON_BOTTOMWEARREDFEMALE + PERSON_BOTTOMWEARORANGEFEMALE + PERSON_BOTTOMWEARYELLOWFEMALE
		                    + PERSON_BOTTOMWEARGREENFEMALE + PERSON_BOTTOMWEARBLUEFEMALE + PERSON_BOTTOMWEARPURPLEFEMALE))
		        ELSE
		            0
		    END AS MONOCHROMATIC_PERCENTAGE_BOTTOMWEARWOMAN
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	<!-- 난색 하의 여성 -->
	<select id="polyBottomWearWoman" resultMap="_decimal">
		SELECT
		    CASE
		        WHEN SUM(PERSON_BOTTOMWEARBLACKFEMALE + PERSON_BOTTOMWEARGRAYFEMALE + PERSON_BOTTOMWEARWHITEFEMALE 
		            + PERSON_BOTTOMWEARREDFEMALE + PERSON_BOTTOMWEARORANGEFEMALE + PERSON_BOTTOMWEARYELLOWFEMALE
		            + PERSON_BOTTOMWEARGREENFEMALE + PERSON_BOTTOMWEARBLUEFEMALE + PERSON_BOTTOMWEARPURPLEFEMALE) > 0 THEN
		            (SUM(CASE WHEN PERSON_BOTTOMWEARREDFEMALE + PERSON_BOTTOMWEARORANGEFEMALE + PERSON_BOTTOMWEARYELLOWFEMALE > 0 
		                THEN PERSON_BOTTOMWEARREDFEMALE + PERSON_BOTTOMWEARORANGEFEMALE + PERSON_BOTTOMWEARYELLOWFEMALE ELSE 0 END) * 100.0 /
		                SUM(PERSON_BOTTOMWEARBLACKFEMALE + PERSON_BOTTOMWEARGRAYFEMALE + PERSON_BOTTOMWEARWHITEFEMALE 
		                    + PERSON_BOTTOMWEARREDFEMALE + PERSON_BOTTOMWEARORANGEFEMALE + PERSON_BOTTOMWEARYELLOWFEMALE
		                    + PERSON_BOTTOMWEARGREENFEMALE + PERSON_BOTTOMWEARBLUEFEMALE + PERSON_BOTTOMWEARPURPLEFEMALE))
		        ELSE
		            0
		    END AS POLYCHROMATIC_PERCENTAGE_BOTTOMWEARWOMAN
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	<!-- 한색 하의 여성 -->
	<select id="huesBottomWearWoman" resultMap="_decimal">
		SELECT
		    CASE
		        WHEN SUM(PERSON_BOTTOMWEARBLACKFEMALE + PERSON_BOTTOMWEARGRAYFEMALE + PERSON_BOTTOMWEARWHITEFEMALE 
		            + PERSON_BOTTOMWEARREDFEMALE + PERSON_BOTTOMWEARORANGEFEMALE + PERSON_BOTTOMWEARYELLOWFEMALE
		            + PERSON_BOTTOMWEARGREENFEMALE + PERSON_BOTTOMWEARBLUEFEMALE + PERSON_BOTTOMWEARPURPLEFEMALE) > 0 THEN
		            (SUM(CASE WHEN PERSON_BOTTOMWEARGREENFEMALE+PERSON_BOTTOMWEARBLUEFEMALE+PERSON_BOTTOMWEARPURPLEFEMALE > 0 
		                THEN PERSON_BOTTOMWEARGREENFEMALE+PERSON_BOTTOMWEARBLUEFEMALE+PERSON_BOTTOMWEARPURPLEFEMALE ELSE 0 END) * 100.0 /
		                SUM(PERSON_BOTTOMWEARBLACKFEMALE + PERSON_BOTTOMWEARGRAYFEMALE + PERSON_BOTTOMWEARWHITEFEMALE 
		                    + PERSON_BOTTOMWEARREDFEMALE + PERSON_BOTTOMWEARORANGEFEMALE + PERSON_BOTTOMWEARYELLOWFEMALE
		                    + PERSON_BOTTOMWEARGREENFEMALE + PERSON_BOTTOMWEARBLUEFEMALE + PERSON_BOTTOMWEARPURPLEFEMALE))
		        ELSE
		            0
		    END AS HUES_PERCENTAGE_BOTTOMWEARWOMAN
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	

		
	
	
	
</mapper>