<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cameraPageMapper">


<resultMap type="fo.di.cs.main.model.dto.DC_summary" id="DC_summary_rm">
		 <result property="face_youngMale" column="FACE_YOUNGMALE" />
      	<result property="face_youngFemale" column="FACE_YOUNGFEMALE" />
      	<result property="face_adultMale" column="FACE_ADULTMALE" />
      	<result property="face_adultFemale" column="FACE_ADULTFEMALE" />
      	<result property="face_middleMale" column="FACE_MIDDLEMALE" />
      	<result property="face_middleFemale" column="FACE_MIDDLEFEMALE" />
      	<result property="face_seniorMale" column="FACE_SENIORMALE" />
      	<result property="face_seniorFemale" column="FACE_SENIORFEMALE" />
      	<result property="occuDate" column="FACE_SENIORFEMALE" />
      	<result property="personMale" column="PERSON_MALE" />
      	<result property="personFemale" column="PERSON_FEMALE" />
</resultMap> 


<resultMap type="fo.di.cs.main.model.dto.DailyCount" id="DailyCount_rm">
		 <result property="time" column="time" />
		 <result property="person" column="PERSON" />
      	<result property="vehicle" column="VEHICLE" />
      	<result property="face" column="FACE" />
      	<result property="lpr" column="LPR" />
      	<result property="invCnt" column="INV_CNT" />
      	<result property="lotCnt" column="LOT_CNT" />
      	<result property="cntCnt" column="CNT_CNT" />
      	<result property="fatCnt" column="FAL_CNT" />
      	<result property="occuTime" column="OCCU_TIME" />
      	<result property="cameraName" column="CAMERA_NAME" />
      	<result property="personCount" column="personCount" />
      	<result property="vehicleCount" column="vehicleCount" />
      	<result property="faceCount" column="faceCount" />
      	<result property="lprCount" column="lprCount" />
      	<result property="invCntCount" column="invCntCount" />
      	<result property="lotCntCount" column="lotCntCount" />
      	<result property="cntCntCount" column="cntCntCount" />
      	<result property="falCntCount" column="falCntCount" />
      	<result property="personCount_DIFF" column="personCount_DIFF" />
      	<result property="vehicleCount_DIFF" column="vehicleCount_DIFF" />
      	<result property="faceCount_DIFF" column="faceCount_DIFF" />
      	<result property="lprCount_DIFF" column="lprCount_DIFF" />
      	<result property="invCntCount_DIFF" column="invCntCount_DIFF" />
      	<result property="lotCntCount_DIFF" column="lotCntCount_DIFF" />
      	<result property="cntCntCount_DIFF" column="cntCntCount_DIFF" />
      	<result property="falCntCount_DIFF" column="falCntCount_DIFF" />
</resultMap> 

<resultMap type="fo.di.cs.main.model.dto.DailyCount_summary" id="DailyCount_summary_rm">
		 <result property="faceNoMaskMaleYoung" column="FACE_NOMASKMALEYOUNG" />
      	<result property="faceNoMaskMaleAdlut" column="FACE_NOMASKMALEADULT" />
      	<result property="faceNoMaskMaleMiddle" column="FACE_NOMASKMALEMIDDLE" />
      	<result property="faceNoMaskMaleSenior" column="FACE_NOMASKMALESENIOR" />
      	<result property="faceNoMaskFemaleYoung" column="FACE_NOMASKFEMALEYOUNG" />
      	<result property="faceNoMaskFemaleAdult" column="FACE_NOMASKFEMALEADULT" />
      	<result property="faceNoMaskFemaleMiddle" column="FACE_NOMASKFEMALEMIDDLE" />
      	<result property="faceNoMaskFemaleSenior" column="FACE_NOMASKFEMALESENIOR" />
      	<result property="occuDate" column="OCCU_DATE" />
      	<result property="person" column="PERSON" />
      	<result property="vehicle" column="VEHICLE" />
      	<result property="face" column="FACE" />
      	<result property="lpr" column="LPR" />
      	<result property="invCnt" column="INV_CNT" />
      	<result property="lotCnt" column="LOT_CNT" />
      	<result property="cntCnt" column="CNT_CNT" />
      	<result property="falCnt" column="FAL_CNT" />
 	    <result property="car" column="VEHICLE_CAR" />
      	<result property="bus" column="VEHICLE_BUS" />
      	<result property="truck" column="VEHICLE_TRUCK" />
      	<result property="motocycle" column="VEHICLE_MOTORCYCLE" />
      	<result property="bicycle" column="VEHICLE_BICYCLE" />
      	<result property="hatMale" column="PERSON_HATMALE" />
      	<result property="bagMale" column="PERSON_BAGMALE" />
      	<result property="hatFemale" column="PERSON_HATFEMALE" />
      	<result property="bagFemale" column="PERSON_BAGFEMALE" />
</resultMap> 
	
<resultMap id="_int" type="java.lang.Integer" />
	
		
	<!-- 메인카메라페이지 금일 누적 합계(공통)-->
	<select id="selectMainCameraTodayList" resultMap="DailyCount_rm">
		SELECT PERSON, VEHICLE, FACE, LPR, INV_CNT, LOT_CNT, CNT_CNT, FAL_CNT  
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	<!-- 메인카메라페이지 전일대비(공통)-->
	<select id="selectNetChangeList" resultMap="DailyCount_summary_rm">
		WITH Today AS (
		    SELECT
			PERSON, VEHICLE, FACE, LPR, INV_CNT, LOT_CNT, CNT_CNT, FAL_CNT  
				FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
				WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
		),
		Yesterday AS (
		    SELECT
		        PERSON, VEHICLE, FACE, LPR, INV_CNT, LOT_CNT, CNT_CNT, FAL_CNT  
				FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
				WHERE OCCU_DATE = CONVERT(varchar, DATEADD(day, -1, GETDATE()), 112)
		)
		SELECT
		    t.PERSON - y.PERSON AS personCount_DIFF,
		    t.VEHICLE - y.VEHICLE AS vehicleCount_DIFF,
		    t.FACE - y.FACE AS faceCount_DIFF,
		    t.LPR - y.LPR AS lprCount_DIFF,
		    t.INV_CNT - y.INV_CNT AS invCntCount_DIFF,
		    t.LOT_CNT - y.LOT_CNT AS lotCntCount_DIFF,
		    t.CNT_CNT - y.CNT_CNT AS cntCntCount_DIFF,
		    t.FAL_CNT - y.FAL_CNT AS falCntCount_DIFF
		FROM Today t
		JOIN Yesterday y ON 1 = 1
	</select>
	
	<!-- 마스크를 착용한 남자의 비율 계산(금일)-->
	<select id="maskManCount" resultMap="_int">
		SELECT
		    COALESCE(
		        CASE
		            WHEN COUNT(*) > 0 THEN
		                (SUM(CASE WHEN FACE_MALE > 0 THEN FACE_MASKMALE ELSE 0 END) * 100.0 / SUM(FACE_MALE))
		            ELSE
		                0
		        END,
		        0
		    ) AS mask_wearing_male_ratio
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	<!-- 마스크를 착용한 여자의 비율 계산(금일)-->
	<select id="maskWomanCount" resultMap="_int">
		SELECT
		    COALESCE(
		        CASE
		            WHEN COUNT(*) > 0 THEN
		                (SUM(CASE WHEN FACE_FEMALE > 0 THEN FACE_MASKFEMALE ELSE 0 END) * 100.0 / SUM(FACE_FEMALE))
		            ELSE
		                0
		        END,
		        0
		    ) AS mask_wearing_female_ratio
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>

	<!-- 휴먼페이지 성별 도넛 차트-->
	<select id="genderTotalList" resultMap="DC_summary_rm">
		SELECT
		    PERSON_FEMALE, PERSON_MALE
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	
	
	
	<!-- 휴먼페이지 성별 악세사리 막대&라인 혼합 차트-->
	<select id="genderAccList" resultMap="DailyCount_summary_rm">
		SELECT
			PERSON_HATMALE 
			, PERSON_BAGMALE 
			, PERSON_HATFEMALE 
			, PERSON_BAGFEMALE 
		FROM TB_AI_NVR_DASH_BOARD_DAILY_COUNT_SUMMARY
		WHERE OCCU_DATE = CONVERT(varchar, GETDATE(), 112)
	</select>
	
	
	
	
	
	
	
</mapper>