.fade{
    position: fixed;
}

.modal-body, .modal-footer{
    background-color: #333333;
}

.popupTable{
    background-color: #282828;
}

.popupTable *{
    border: 1px solid #282828;
    background-color: #1e1e1e;
}


.popupTable th{
    background-color: #1a1a1a;
}


#settingBtn:hover{
    background-image: url('../../resources/img/btn_setting_hover.png') !important;
    width: 29px !important;
    height: 29px !important;
}