.chart{
    display: flex;
    flex-direction: row;
    justify-content: center;

    max-width: 800px;
}


.manChart{
    position: relative;
}

#manImg{
    position: absolute; 
    top: 160px; 
    left: 155px; 
    z-index: 0;
}


.womanChart{
    position: relative;
}

#womanImg{
    position: absolute; 
    top: 40%; 
    left: 36%;
    z-index: 0;
}



/* 테이블 css */

.cameraTable{
    /* max-width: 800px !important; */
    width: 90% !important;
    height: 350px;
    
    margin: 20px 5% 20px 5%;
    
}



.cameraTable *{
    text-align: center;
    border: 1px solid #333333 !important;
    height: 33px;
    
}

.cameraTable td, .cameraTable th{
    vertical-align: middle; /* 세로 가운데 정렬 */
}

.cameraTable th{
    padding: 5px;
}

.cameraTable td, .loadName{
    background-color: #282828;
}


.fa-caret-right:hover{
    color: #ffa800 !important;

}
.fa-caret-left:hover{
    color: #ffa800 !important;

}


.changeGraph:hover{
    cursor: pointer;
}