@import url('../object.css');

.contentsGrid {margin-left: 10px; }
.contentsArea {background-color: #282828 ; margin-bottom: 10px;} 
.contensTypebtnArea {margin-left: 20px; padding-top: 10px;  }
.contentsGridDataArea{ margin-top: -1px; padding-left:10px; padding-bottom: 20px; background-color: #1e1e1e; padding-right: 20px; }
.sectionBox1type {margin-left: 10px; }
.sectionBox2type {margin-left: 10px; }
.sectionDate {
  margin-left: 10px; padding-top: 20px; padding-bottom: 20px; 
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.sectionDate2 {margin-left: 10px; padding-top: 20px; padding-bottom: 20px; }


.tui-grid-body-area {background-color: #282828 !important;}
.text_cam_name {margin-left: 20px; margin-top: -5px; background-color:#333333; height: 28px; border-style: none ;}
.text_cam_name2 {margin-left: 20px; margin-top: -5px; background-color:#333333; height: 28px; border-style: none ;}

/* 셀 색상 변경 시도 */
.tui.grid-cell.red-header {background-color: red !important}

 p {display:flow-root; }



#grid_object{
  width: 95%;
  max-height: 700px;
  overflow-y: scroll;
  
}

/*#grid_object {font-size:34px;}*/ 
.humanCameraTable {
  width: 100%;
  font-family: NanumSquareEB; 
  font-size: 11pt; 
  border: 1px solid #333333;
  overflow-y: scroll;

}
tr *{
  border: 1px solid #333333;
  height: 40px;
  vertical-align: middle;

}

tbody *{
  background-color: #282828;
  
}

th {
  text-align: center;
  
}

td{
  width: 152.5px;
  text-align: right;
  padding-left: 10px !important; padding-right: 10px !important;
}

.loadName{
  text-align: left;
  padding: 0 0 0 10px;
  width: 356px;

}

/*.gridTotal {margin-left: 10px; }*/
/* ::-webkit-scrollbar{
    background: #333333;    
  }
::-webkit-scrollbar-track-piece{
    background: #333333;
  }
::-webkit-scrollbar-thumb {
    background: #838383 !important;
    border-radius: 0px;
}
::-webkit-scrollbar-track {
    background: #333333;
    border-radius: 10px;
} */

/* .tui-grid-body-area {height:100px} */


.grid_object_person_total {
  width: 95%;
  font-family: NanumSquareEB; 
  font-size: 11pt; 
  border: 1px solid #333333;
}